@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

/* header section start here */

.nav{
    display: flex;
    justify-content: space-around;
    padding-top: 57px;
    padding-bottom: 10px;
}
.logo{
    font-family: 'Inter', sans-serif;
    color: rgb(230, 83, 60);
    width: 132px;
    height: 43px;
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
}

.navbar{
    width: 465px;
    height: 46px;
    border: 1px solid rgb(51, 47, 47);
    border-radius: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul{
    display: flex;
    gap: 50px;
    list-style: none;
    
}

.navbar li{
    padding-top: 10px;
}

.navbar li a{
    width: 150px;
    height: 22px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    background-color: transparent;
}



.home-nav{
    border: 1px solid rgb(230, 83, 60);
    background-color: rgb(230, 83, 60);
    border-radius: 40px;
    padding: 10px 50px;
}

/* header section end here */

/* banner section start from here */

.banner-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content{
    width: 1256px;
    height: 700px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.banner-text{
    width: 40%;
    height: 60%; 
}

.banner-text h1{
    color: white;
    font-size: 70px;
    font-weight: 900;
    padding-bottom: 30px;
    font-family: "Inter", sans-serif;
}

.banner-text p{
    color: rgb(137, 137, 137);
    padding-bottom: 30px;
    font-family: "Inter", sans-serif;
}

.banner-btn button{
color: white;
padding: 10px 50px;
border-radius: 30px;
font-weight: 700;
font-family: "Inter", sans-serif;
}

.banner-btn > .first-btn{
    background-color: rgb(230, 83, 60);
    border: none;
}
.banner-btn >.second-btn{
    border: none;
    border: 1px solid white;
    background-color: black;
}

.banner-image img{
    width: 100%;
}

.first-box{
    color: white;
    position: absolute;
    border-radius: 12px;
    padding: 20px;
    border: 1px solid #fff;
    background: rgba(48,48,48,0.54);
    left: 964px;
    top: 656px;

}


.first-box h1{
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 10px;
}
.first-box p{
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.30;
    
}
.second-box{
    color: white;
    position: absolute;
    border-radius: 12px;
    padding: 15px;
    border: 1px solid #fff;
    background: rgba(48,48,48,0.54);
    top: 360px;
    left: 1240px;

}
.second-box-2 h1{
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 10px;
}
.second-box-2 p{
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.30;
}
/* banner section end here */

/* habits section start from here */

.habits-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.habits-content{
    width: 1200px;
    height: 600px;
    justify-content: space-between;
}

.habits-text{
    color: white;
    padding-bottom: 70px;
    width: 600px;
    text-align: center;
    margin: 0 auto;
}

.habits-text h1{
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 20px;
    font-family: "Inter", sans-serif;
}

.habits-text p{
    color: rgba(255, 255, 255, 0.5);
}

.habits-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
}

.habits-img h4{
    padding-top:30px;
    font-family: "Inter", sans-serif;
}

.habits-img p{
    color: rgba(255, 255, 255, 0.5);
    padding-top: 5px;
    font-family: "Inter", sans-serif;
}

.habits-img-box{
    width: 200px;

}

.habits-img-box img{
    border-radius: 100%;
}

/* habits section end here */

/* run section start here */

.run-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.run-content{
    width: 1200px;
    height: 340px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.run-text{
    width: 50%;
}

.run-text h1{
    color: #fff;
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    width: 400px;
}
.run-text p{
    color: #FFFFFF80;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    padding-top: 35px;
    padding-bottom: 35px;
    width: 400px;
} 
.btn{
    color: white;
    padding: 15px 60px;
    border-radius: 30px;
    font-size: 15PX;
    font-weight: 700;
    background-color: rgb(230, 83, 60);
    border: none;
} 

.run-img img{
    border-radius: 20px;
}
 
/* run section end here */

/* bmi section start from here */

.bmi-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.bmi-content{
    width: 1200px;
    height: 700px;
}

.bmi-first{
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding-bottom: 100px;
}

.bmi-first h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 20px;
}

.bmi-first p{
    width: 595px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

.bmi-second{
    display: flex;
    justify-content: space-between;
}

.bmi-chart h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    padding-bottom: 55px;
}

.bmi-chart table,th,td{
    border: 1px solid #393939;
    font-family: "inter";
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    border-collapse: collapse;
}
th,td{
    padding: 1rem;
}
.tb-head{
    font-size: 1rem;
}
.tb-content{
    opacity: 0.50;
}

.bmi-calculator-text {
    padding-bottom: 30px;
    padding-left: 10px;
}

.bmi-calculator-text h1{
    width: 443px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
}
.bmi-calculator-text p{
    width: 570px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

.bmi-calculator-form input{
    padding: 1rem 2rem 1rem 2rem;
    background: rgb(57, 57, 57);
    border-radius: 10px;
    border: none;
    margin: 10px;
    color:#fff;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

.bmi-calculator-form select{

    padding: 1rem 8rem 1rem 2rem;
    background: rgb(57, 57, 57);
    border-radius: 10px;
    border: none;
    margin: 10px;
    color: #fff;
    margin-bottom: 35px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

/* bmi section end from here */

/* Team section end from here */

.team-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}
.team-content{
    width: 1200px;
    height: 700px;
}

.team-head-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;

}

.team-head-text h1{
    width: 400px;
    color: #fff;
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
}
.team-head-text p{
    width: 630px;
    color:rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom:30px;
}

.team-member {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.team-card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-container {
    position: relative;
}

.team-card img {
    width: 100%;
    height: 300px;
    display: block;
}

.info {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.info h3{
    font-size: 25px;
    font-family: "inter";
}
.info p{
    font-size: 16px;
    font-family: "inter";
    color: #b6c5b6;
}

/* team section end here */

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    width: 1200px;
    height: 400px;
    margin-top: 300px;
}

.footer-first-part{
    display: flex;
    justify-content: space-between  ;
}

.footer-about p{
    color: rgba(255, 255, 255, 0.5);
    padding-top: 45px;
    width: 430px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

.footer-menu h2{
    color: #fff;
    font-family: Inter;
    font-size: 32px;
    font-weight: 900;
    padding-bottom: 20px;
}
.footer-menu ul li{
    list-style: none;
    margin-bottom: 20px;
}

.footer-menu ul li a{
    text-decoration: none;
    color: #fff;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
}

.footer-copy-text p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
}

.footer-copy-text hr{
    border: 1px solid #2e2e2e;

}

